<div role="alert" class="alert alert-info">
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-6 w-6 shrink-0 stroke-current">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
  </svg>
  <span>Si tu video no carga actualiza la pagina y espera un poco.</span>
</div>
<div class="flex mt-3">
    <%= link_to 'javascript:history.back()', class: "flex items-center" do %>
        <svg class="h-6 w-6 text-blue-500 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" />
        </svg>
    <% end %>
    <h1 class="text-2xl font-bold">Resultados</h1>
</div>


<% if @video_files.empty? %>
  <p class="text-danger"><%= flash[:alert] || "No se encontraron clips.." %></p>
<% end %>

<% @video_files.each do |filename| %>

  <div class="card w-96 bg-base-100 shadow-md mt-3">
    <div class="card-body">
      <h2 class="card-title"><%= "#{filename.split('/')[1]} #{File.basename(filename, "_clip.mp4")}" %></h2>
      <% stream_url = serve_clip_path(filename: filename) %>

        <video
          id="my-video"
          class="video-js vjs-fluid rounded-md"
          controls
          preload="auto"
          data-setup="{}"
        >
          <source src=<%= "#{stream_url}" %> type="video/mp4" />
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank"
              >supports HTML5 video</a
            >
          </p>
        </video>

      <div class="mt-6">
        <%= link_to "Descargar", stream_url, download: filename, class: "btn btn-success btn-block" %>
      </div>
    </div>
  </div>
<% end %>
